#cards-jogadores .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
} /* Fiz para ajustar o tamnho da imagens no card */

#carousel-container .carousel-item img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: top;
} /* Fiz para ajustar o tamanho das imagens no carousel*/

.card-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
} /* Esse feito pra estilizar o link dos cards*/

.card-link:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} /* Sombra do card pra fica mais natural*/

#detalhe-jogador-container img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
} /* Fiz para ajustar as imagens na pafina de detalhes */

.titulo-header {
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
} /* Ajuste na responsiviodade para telas maiores */

@media (max-width: 768px) {
  .titulo-header {
    font-size: 1.8rem;
  }
} /* Ajuste na responsiviodade para telas menores */

.logo-link {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease;
} /* Fiz para adaptar um pouco melhor o linkk(logo) para a paginia inicial da pagina detalhes */

.logo-link:hover {
  opacity: 0.8;
} /* Efeito de hover para o link (fica um pouco mais transparente) */
